<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<form #form="ngForm" (ngSubmit)="onSubmit()">
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div class="form-input-block" padding>
          <ion-item>
            <ion-input type="text" placeholder="Name" [(ngModel)]="user.name" name="name" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="text" placeholder="Email" [(ngModel)]="user.email" name="email" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="password" placeholder="Password" [(ngModel)]="user.password" name="password" required></ion-input>
          </ion-item>
        </div>
        <div padding>
          <ion-button type="submit" size="medium" expand="block" [disabled]="form.invalid">Register</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
</ion-content>
